In [9]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [10]:
#Here is the texts
texts = [
    "Penny bought bright blue fishes.",
    "Penny bought a bright blue and orange fish.",
    "The fish fished fish.",
    "I'm fishing fish.",
    "I hate blue bugs",
    "A blue bug ate a fish",
    "fish"
]

In [11]:
# Make a new Count Vectorizer
vec = CountVectorizer()

In [12]:
# vectorizer, please read the text and show me the raw counts
matrix = vec.fit_transform(texts)
matrix.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [13]:
#vector pulls our all of the individual words
vec.get_feature_names()

['and',
 'ate',
 'blue',
 'bought',
 'bright',
 'bug',
 'bugs',
 'fish',
 'fished',
 'fishes',
 'fishing',
 'hate',
 'orange',
 'penny',
 'the']

In [14]:
#the vector algorithm creates a datafram matrix with the frequency counts
results = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
results

,and,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny,the
0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0
1,1,0,1,1,1,0,0,1,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
5,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [15]:
vec = CountVectorizer()
matrix = vec.fit_transform(texts)
results = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
results

,and,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny,the
0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0
1,1,0,1,1,1,0,0,1,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
5,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0